<h1>Trending Post</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Post Title</th>
      <th scope="col">Post Body</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    {{#if loggedIn }}
{{#each posts as |post| }}
    <tr>
      <th scope="row">1</th>
      <td>{{title}}</td>
      <td>{{body}}</td>
      <td>{{user}}</td>
    </tr>
    
{{/each}}
{{else}} Not logged in <a href="/login">Login Page</a>
{{/if}}
  </tbody>
</table>